/* Small devices (landscape phones, 739px) */
@media (max-width: 739px) {
/*App Menu Styles*/
.appMenu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: #fff solid 1px;
    border-left:  #fff solid 1px;
}

.appMenu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0px;
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
}

.appmenucontainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c0074;
    color:white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 99999 !important; /* <- raise z-index and force priority */
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 10px;
    text-decoration: none;
}

.appmenucontainer a {
    color:white;
    text-decoration: none;
}


/* Header Styles*/

.h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

/*Header Image Styles*/
.header-image {
    max-width: 500px !important;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Footer Section Styles*/

footer {
    background: #2c0074;
    color: white;
    height: auto;
    width: 100%;
    padding-top: 25%;
    padding-bottom: 25%;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; 
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Column Section Styles*/
.one-column {
    display: grid;
    grid-template-columns: 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-two-column {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-three-column {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-one-one-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-two-column {
    display: grid;
    grid-template-columns: 2fr, 2fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-three-column {
    display: grid;
    grid-template-columns: 2fr, 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-one-one-column {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-two-column {
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-three-column {
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-one-one-column {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}

/* Medium devices (tablets, 740px and up) */
@media (min-width: 740px) {

/* App Menu Styles */

.appMenu {
    display: none;
}

.appmenucontainer {
    display: none;
}

/*Header Image Styles*/
.header-image {
    max-width: 500px !important;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Header Styles*/
.h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

/* Footer Section Styles*/

footer {
    background: #2c0074;
    color: white;
    height: auto;
    width: 100%;
    padding-top: 25%;
    padding-bottom:25%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; 
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Column Section Styles*/
.one-column {
    display: grid;
    grid-template-columns: 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-two-column {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-three-column {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-one-one-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-two-column {
    display: grid;
    grid-template-columns: 2fr, 2fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-three-column {
    display: grid;
    grid-template-columns: 2fr, 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-one-one-column {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-two-column {
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-three-column {
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-one-one-column {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}
 /* Large devices (desktops, 930px and up) */
@media (min-width: 930px) {

/* App Menu Styles */

.appMenu {
    display: none;
}

.appmenucontainer {
    display: none;
}

/* Body Styles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #050015;
    color: #fff;
    line-height: 1.6;
}

/*Service Card Styles*/

.card {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
}

/*Header Image Styles*/
.header-image {
    max-width: 500px !important;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Header Styles*/
.h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

/* Footer Section Styles*/

footer {
    background: #11004f;
    color: white;
    height: auto;
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; 
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Column Section Styles*/
.one-column {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-two-column {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-three-column {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-one-one-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-one-one-one-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3%;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-two-column {
    display: grid;
    grid-template-columns: 2fr, 2fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-three-column {
    display: grid;
    grid-template-columns: 2fr, 3fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-one-one-column {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-two-column {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-three-column {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.two-one-one-column {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Main Section Styles*/
main {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    align-self: center;

}

/*Nav Section Styles*/

nav {
    background-color:#00044f;
    text-decoration: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-menu {
    display: flex;
    color: white !important;
    text-decoration: none !important;
}


}